<h1>User</h1>

<div class="controls">
  <ul>
    <li><a href="/users">Home</a></li>
    <li><a href="/users/new">Create User Manually</a></li>
    <li><a href="/import/csv">Import CSV</a></li>
    <li><a href="/users/destroy">Delete All Users</a></li>
  </ul>
</div>

<ul>
  <li>First Name: <%=user.firstName%></li>
  <li>Last Name: <%=user.lastName%></li>
  <li>Position: <%=user.position%></li>
  <li>Company: <%=user.company%></li>
  <li>Industry: <%=user.industry%></li>
  <li>Company Size: <%=user.companySize%></li>
  <li>Email Address: <%=user.emailAddress%></li>
  <li>Website: <%=user.website%></li>
  <li>Linkedin URL: <%=user.linkedinURL%></li>
</ul>
